#navbarIcon {
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad); */
  /* transform: rotate(3grad); */ 
  /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.loginLogo{
    width: 95%;
}

.logoRounded {
  width: 50%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-top: -20px;
  -webkit-filter: drop-shadow(5px 5px 5px #222222);
  filter: drop-shadow(5px 5px 5px #222222);
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Roboto', sans-serif;
}

.profileLeagueText{
  font-family: 'Rubik Dirt', cursive;
  font-size: 5rem;
  /* float:right; */
  /* font-family: 'Roboto', sans-serif; */
  -webkit-filter: drop-shadow(5px 5px 5px #b9b8b8);
  filter: drop-shadow(5px 5px 5px #b9b8b8);

}
.profileLeagueTableText{
  font-family: 'Rubik Dirt', cursive;
  font-size: 1.8rem;
  /* float:right; */
  /* font-family: 'Roboto', sans-serif; */
}

.singlePlayerInLeagueRow{
  padding:5px;
}

.challengeRow{
  padding:5px;
}
.singleMatchRow{
  padding:5px;
}

.btn-sm{
  min-width:90px;
}

.open-sans{
  font-family: 'Open Sans', sans-serif;
}

.introductionText{
  /* background-color:#eeeeee; */
  /* -webkit-filter: drop-shadow(5px 5px 5px #b9b8b8); */
  /* filter: drop-shadow(5px 5px 5px #b9b8b8); */
}

#introTextTop{
  /* background-color: red; */
  margin-top:2rem;
}
#introTextBottom{
  /* background-color: red; */
  margin-bottom:2.5rem;
}

.rubik{
  font-family: 'Rubik Dirt', cursive;
}